nilearn @ git+https://github.com/BabaSanfour/nilearn.git@main#egg=nilearn
nibabel
mne
pre-commit
ruff
pytest-cov
nimare>=0.4.0
bio
scipy
sphinx>=4.0.0
insegel
furo
sphinx_gallery
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-autoapi
myst-parser
-e .
pyyaml
openpyxl
