nilearn @ git+https://github.com/BabaSanfour/nilearn.git@main#egg=nilearn
nibabel
mne
flake8
flake8-docstrings
pydocstyle
pytest-cov
nimare>=0.4.0
bio
sphinx>=4.0.0
insegel
furo
sphinx_gallery
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-autoapi
myst-parser
-e .
