nilearn @ git+https://github.com/BabaSanfour/nilearn.git@main#egg=nilearn
nibabel
mne
pytest-cov
nimare>=4.0.0
bio
sphinx>=4.0.0
insegel
furo
sphinx_gallery
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-autoapi
myst-parser
-e .
